log.html
output.xml
report.html
selenium-screenshot-*.png
appium-log.txt
*.pyc
.idea
geckodriver.log
*.DS_Store
*venv/
*.wgt
*.out
cal.txt
captured/
rect/
.pairs
config/
.peru/
.pabotsuitenames
.vscode/*
ignored/*
GetCommit.py
